body{
    margin: 0px;
}

/* /---------------------------Header-----------------------------/ */

#body-header{
    margin-top : -16px;
    height: 60vh;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horizontal-list {
    padding-top: 30px;
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-size: large;
    padding-left: 20px;
}

.horizontal-list a{
    color: white;
    text-decoration: none;
}

.horizontal-list a:hover{
    color: lightgrey;
    text-decoration: underline;
    transition: color 0.7s;
}

.center-text{
    text-align: center;
}

#my-name{
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.icons-list{
    margin-top: -70px;
}

.icons-list i{
    font-size: larger;
}

.icons-list li a i{
    padding: 10px;
    border-radius: 80%;

}

.icons-list li a i:hover{
    padding: 10px;
    font-size: larger;
    border-radius: 80%;
    box-shadow: 0px 0px 8px 4px goldenrod;    /*box-shadow parameters: horizontal-offset vertical-offset blur spread color */
}

#iconify-effect {
    font-size: larger;
}

#iconify-effect:hover{
    padding: 10px;
    border-radius: 80%;
    box-shadow: 0px 0px 8px 4px goldenrod;
}


/* /----------------------------------About---------------------------/ */

#display-picture{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#display-picture img{
    height: 100%;
    width: 90%;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px lightgrey;
    position: relative;
}

#about p {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

#about p strong{
    color: #2857a4;
}

/*---------------------------------Section-------------------*/ 

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*------------------------Skills----------------*/

.skills-display{
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}


.skill-progress span{
    color: whitesmoke;
    margin-left: 10px;
    vertical-align: middle;
}

#skill1{
    height: 100%;
    width: 70%;
    background-color: goldenrod
}

#skill2{
    height: 100%;
    width: 55%;
    background-color: rgb(132, 206, 22);
}

#skill3{
    height: 100%;
    width: 45%;
    background-color: crimson;
}

#skill4{
    height: 100%;
    width: 65%;
    background-color: orange;
}

#skill5{
    height: 100%;
    width: 45%;
    background-color: coral;
}

#skill6{
    height: 100%;
    width: 65%;
    background-color: palevioletred;
}

#skill7{
    height: 100%;
    width: 45%;
    background-color: brown;
}

.mbpx{
    margin-bottom: 75px;
}